/* BLOQUE PRINCIPAL */
.category-list {
  max-width: 100vw;
  width: 100%;
  margin-top: 1.25rem;
  padding: 0;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 4px;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
}

.category-list__item {
  scroll-snap-align: center;
  width: 5rem;
  height: 100%;
}

.category-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.category-list::-webkit-scrollbar {
  display: none;
}

@media (max-width: 500px) {
  .category-list {
    justify-content: flex-start;
    padding-left: 1rem;
  }

  .category-list__item {
    flex: 0 0 3rem;
    width: 3rem;
  }
}

@media (max-width: 769px) {

  .category-list__item {
    flex: 0 0 4rem;
    width: 4rem;
  }
}