<div *ngIf="beach" class="beach-detail-container" id="beach-detail">
  <app-beach-detail-layout [beach]="beach"></app-beach-detail-layout>
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
   <app-weather-display [latitude]="beach.latitude" [longitude]="beach.longitude"></app-weather-display>
    <app-tides-status [beach]="beach"></app-tides-status>
  </div>
  <app-maplibre-map
    [latitude]="beach.latitude"
    [longitude]="beach.longitude"
    [zoom]="12">
  </app-maplibre-map>
  <app-beach-comments
  [comments]="comments"
  [currentUser]="currentUser"
  [beach]="beach"
  (addComment)="addComment($event)"
  (deleteComment)="onDeleteComment($event)"
  (updateComment)="onUpdateComment($event)">
</app-beach-comments>
</div>
