<div class="forgot-password">
    <a class="forgot-password__logo" href="/">PLAYEA</a>
    <h1 class="forgot-password__title">Olvidaste tu contraseña</h1>
    <p class="forgot-password__text">Ingresa tu <span class="forgot-password__highlight">correo electrónico</span> para restablecer tu contraseña</p>
    
    <form class="forgot-password__form" (ngSubmit)="onSubmit()">
        <div class="forgot-password__input-container">
            <input 
                type="email" 
                placeholder="Correo electrónico" 
                class="forgot-password__input" 
                [(ngModel)]="email" 
                name="email" 
                (input)="onEmailChange($event)" 
                required
            >
            <p class="forgot-password__validation-message" [ngClass]="{'valid': emailValid, 'invalid': !emailValid}">
                {{ emailMessage }}
            </p>
        </div>
        
        <button 
            type="submit" 
            class="forgot-password__button forgot-password__button--primary"
            aria-label="Restablecer contraseña"
            [disabled]="!isFormValid()"
        >
            Cambiar contraseña
        </button>
    </form>
</div>