<main>
  <div class="user-container" *ngIf="user" id="profile">
    <div class="foto">
      <img class="profile-picture" [src]="user.avatarUrl" alt="Avatar">
    </div>

    <div class="user-social-info">
      <div class="nameAndFollow">
        <h1 class="user">{{ user.username }}</h1>
        <button class="follow">Follow</button>
      </div>

      <div class="socials">
        <div class="social-element">
          <h4 class="social-number">23</h4>
          <h4 class="social-text">Comentarios</h4>
        </div>
        <div class="social-element">
          <h4 class="social-number">23k</h4>
          <h4 class="social-text">Seguidores</h4>
        </div>
        <div class="social-element">
          <h4 class="social-number">1.9k</h4>
          <h4 class="social-text">Siguiendo</h4>
        </div>
      </div>
      <h3 class="name">{{ user.name }}</h3>
      <h5 class="user-description">Here is a short description</h5>
    </div>
  </div>

  <div class="user-comments">
    <app-comment-on-profile></app-comment-on-profile>
  </div>
</main>
