<a *ngIf="beach" class="beach-card" href="/beach/{{ beach.name.toLowerCase().replaceAll(' ', '-') }}" [ngClass]="{ 'beach-card--blue-flag': beach.blueFlag }">
    <span *ngIf="beach.blueFlag" class="beach-card__flag beach-card__flag--blue">Blue Flag</span>
    <div class="beach-card__image-container">
        <img [src]="beach.coverUrl" [alt]="beach.name" loading="lazy" class="beach-card__image">
    </div>
    <div class="beach-card__info">
        <h2 class="beach-card__title">{{ beach.name }}</h2>
        <div class="beach-card__info--section">
            <p class="beach-card__details">
                <span class="beach-card__island">{{ beach.island }}</span> • 
                <span class="beach-card__classification">{{ beach.classification }}</span> • 
                <span class="beach-card__length">{{ beach.length }} m</span>
            </p>
        </div>
    </div>
</a>