/* BLOQUE PRINCIPAL */
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  max-width: 10rem;
  font-size: 15px;
  scroll-snap-align: center;
  border-bottom: 2px solid transparent;
  padding: 1.25em 0.3125em 0.625em;
  transition: border-bottom 0.2s ease-in-out, transform 0.3s ease-in-out;
}

.category:hover {
  border-bottom-color: var(--primary-color, #007bff);
}

.category__image {
  width: 100%; /* Fills the container's width */
  height: 100%; /* Fills the container's height */
  margin-bottom: 0.5rem; /* Keeps your margin */
  object-fit: fill;
}
/* ELEMENTOS */

.category__text {
  font-size: 0.75em;
  margin: 0;
  color: var(--text-color, #333);
}

@media (max-width: 769px) {
  .category {
    font-size: 14px;
  }
}

@media (max-width: 570px) {
  .category {
    font-size: 12px;
  }
}
