/* BLOQUE PRINCIPAL */
.beach-grid {
	display: grid;
	gap: 0.5rem;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	width: 100%;
	margin: auto;
}

/* ELEMENTO */
.beach-grid__item {
	width: 100%;
}

/* MODIFICADOR */
.beach-grid--empty {
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
	color: var(--text-color, #333);
	padding: 2rem;
}

@media (max-width: 768px) {
	.beach-grid {
		grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
	}
}
