<header class="header">
  <div class="logo">
    <a href="/">
      <img class="logo__image" src="/images/playea-logo.png" alt="Logo Playea">
    </a>
  </div>

    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="/ranking" class="header__nav-link">Ranking</a>
            </li>
            <li class="header__nav-item">
                <a href="/search" class="header__nav-link">Búsqueda</a>
            </li>
        </ul>
    </nav>

    <app-user-header></app-user-header>
</header>

