/* BLOQUE PRINCIPAL */
.footer {
	width: 100%;
	background-color: var(--hover-darken);
	padding: 1rem;
	color: var(--footer-text-color);
	text-align: center;
	font-size: 1rem;
}

/* ELEMENTOS DENTRO DEL FOOTER */
.footer__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	gap: 1.5rem;
	padding: 1rem;
}

.footer__navigation {
	flex: 1;
	text-align: center;
}

.footer__links {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0;
	margin: 0;
}

.footer__link a {
	color: var(--footer-text-color, #f0e1a1);
	text-decoration: none;
	font-size: 1em;
	transition: color 0.3s ease-in-out;
}

.footer__link a:hover {
	color: var(--footer-hover-color, #ffffff);
}

/* MODIFICADORES */
.footer__link--highlighted a {
	font-weight: bold;
	text-decoration: underline;
}

.footer__subtitle {
	font-size: 1.5em;
	font-weight: bold;
}

.footer__text {
	text-align: center;
	font-size: 0.9em;
	flex: 1;
}

@media (max-width: 768px) {
	.footer {
		font-size: 0.8rem;
		padding: 0.8em;
		margin: 0;
	}

	.foºoter__container {
		padding: 0;
	}
}
