.social-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-buttons__button {
  background: none;
  border: 1px solid var(--login-border-color);
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--login-text-color);
  cursor: pointer;
  transition: border 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-buttons__button:hover {
  border-color: var(--login-button-color);
}