<div class="forgot-password">
  <div class="logo">
    <a href="/">
      <img class="logo__image" src="/images/playea-logo.png" alt="Logo Playea">
    </a>
  </div>
  <h1 class="forgot-password__title">Olvidaste tu contraseña</h1>
  <p class="forgot-password__text">
    Ingresa tu <span class="forgot-password__highlight">correo electrónico</span> para restablecer tu contraseña
  </p>

  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password__form">
    <div class="forgot-password__input-container"
      [ngClass]="{
        'forgot-password__input--error': emailControl?.touched && emailControl?.invalid,
        'forgot-password__input--valid': emailControl?.touched && emailControl?.valid
      }"
    >
      <input
        type="email"
        placeholder="Correo electrónico"
        class="forgot-password__input"
        formControlName="email"
        name="email"
      >
    </div>
    <div class="forgot-password__validation-messages">
      @if (isRequired('email')) {
        <p class="forgot-password__validation-message">Este campo es requerido</p>
      }
      @if (hasEmailError()) {
        <p class="forgot-password__validation-message">El correo electrónico no es válido</p>
      }
    </div>

    <button
      type="submit"
      class="forgot-password__button forgot-password__button--primary"
      aria-label="Restablecer contraseña"
      [disabled]="forgotPasswordForm.invalid"
    >
      Cambiar contraseña
    </button>
  </form>
</div>
