.forgot-password {
  margin: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  letter-spacing: 1px;
  font-size: 16px;
  min-height: 100vh;
  margin-top: 80px;
}

.logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.forgot-password__title {
  margin-top: 35px;
  font-size: 2.2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.forgot-password__text {
  font-size: 0.9em;
  margin-bottom: 50px;
  text-align: center;
}

.forgot-password__highlight {
  text-decoration: underline;
}

.forgot-password__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
}

.forgot-password__input-container {
  width: 100%;
  border: 1px solid var(--login-border-color);
  border-radius: 5px;
  background-color: var(--login-input-bg);
}

.forgot-password__input {
  background: transparent;
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: var(--login-text-color);
  width: 100%;
  font-size: 1em;
}

.forgot-password__input::placeholder {
  color: var(--login-placeholder-color);
}

.forgot-password__input--error {
  border: 1px solid red !important;
}

.forgot-password__input--valid {
  border: 1px solid green !important;
}

.forgot-password__validation-messages {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.forgot-password__validation-message {
  font-size: 0.8rem;
  margin-top: 2px;
  text-align: left;
  color: red;
}

.forgot-password__button {
  background-color: var(--login-button-color);
  border: none;
  padding: 12px;
  border-radius: 5px;
  color: var(--button-text-color);
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s;
  width: 100%;
  font-weight: bold;
}

.forgot-password__button:hover {
  background-color: var(--login-button-hover);
}

.forgot-password__button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (max-width: 430px) {
  .forgot-password {
    padding: 15px;
  }
}
